* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    max-width: 1150px;
    margin: 0 auto;
    padding: 15px;
}

h1, h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
}

input, select {
    padding: 7px 15px;
    border-radius: 4px;
    border: 1px solid #908a8a;
}

#preload {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: wait;
    transition: .4s;
    font-size: 1.5rem;
    z-index: 999;
}

#preload.hiding {
    opacity: 0;
}

#preload.hide {
    display: none;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#preload #preload-anim {
    width: 50px;
    height: 50px;
    border: 5px solid #000;
    border-radius: 50%;
    animation: .8s rotating infinite ease-in-out;

    border-top-color: transparent;
    border-bottom-color: transparent;
}

@keyframes showHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#preload .point {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#preload .point2 {
    animation-delay: .2s;
}

#preload .point3 {
    animation-delay: .4s;
}

#result_box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1%;
    padding-right: -1%;
}

#result_box > p {
    display: inline-block;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.item {
    position: relative;
    width: 30%;
    margin: 1%;
    border: 1px solid #908a8a;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.item:hover,
.item:hover .additional_information {
    background-color: #f9fbfa;
}

.item.open {
    background-color: #f9fbfa;
}

.item .additional_information {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: calc(100% + 2px);
    border: 1px solid #908a8a;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    z-index: 2;
    margin: -1px;

    display: none;
}

.item.open .additional_information {
    display: block;
    background-color: #f9fbfa;
}

.item h3 {
    margin-top: 0;
}

.item p {
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.item button {
    border: 1px solid #908a8a;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px 7px;
    cursor: pointer;
}

.item button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.image_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;

    display: none;
}

.image_box.show {
    display: flex;
}

#close_image_box {
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
    width: 70px;
    cursor: pointer;
}

#close_image_box svg circle {
    fill: #7d433c;
}

#close_image_box:hover svg circle {
    fill: #D75A4A;
}
